@font-face {
  font-family: "iconfont"; /* Project id 5188719 */
  src: url('iconfont.woff2?t=1780370506455') format('woff2'),
       url('iconfont.woff?t=1780370506455') format('woff'),
       url('iconfont.ttf?t=1780370506455') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-huaban1fuben44:before {
  content: "\e601";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-shouyechangguishouye:before {
  content: "\e604";
}

.icon-a-wodedefuben2:before {
  content: "\e620";
}

